.deathArea {
    width: 100%;
    background: repeating-linear-gradient(28deg,
    #020202 ,
    #251212 ,
    #612842 ,
    #251212 ,
    #020101);
    
    color: darkred;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.deathIcon {
    width: 40%
}

.deathButtonArea{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.deathButton {
    justify-content: center;
    border-radius: 33%;
    font-size: 1.4rem;
    width: 200px;
    height: 59px;
    border: solid 2px #4e304e;
    background: black;
    display: flex;
    align-items: center;
}