.clickArea {
    background-image: url(./Backgrounds/trees.jpg);
    background-position: center;
    width: 85%;
    height: 100vh;
    display: flex;
    justify-content: center;
}


/* .background {
    width: 100%;
    z-index: -1
} */