.shopArea {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.respawnArea {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 35px;
}

.shopItem {
    margin: 25px;
    width: 25%;
    border: solid 2px greenyellow;
    height: 250px
}

.shopItemArea {
width: 100%;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-evenly;
}