.counterArea {
    background-image: radial-gradient(#b32323, black);
    width:25%;
    height: 50px;
    color: #cec2c2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 2rem;
}